.recipe {
  width: 500px;
  height: 289px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 25px;
}

.recipe:hover {
  box-shadow: 0px 20px 60px -45px #f55951;
}

.recipe__bottom-indent {
  margin-bottom: 10px;
}

.recipe__image {
  width: 181px;
  height: 249px;
  background: #d8d8d8;
  border-radius: 15px;
  background-color: cadetblue;
  overflow: hidden;
}

.recipe__image-size {
  height: 100%;
}

.recipe__content {
  width: 250px;
}

.recipe__title {
  width: inherit;
  overflow: hidden;
}

.recipe__title-indent {
  margin-bottom: 15px;
}

.recipe__link {
  height: 25px;
  overflow-y: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #111127;
  text-decoration: none;
}

.recipe__link:hover {
  color: #f55951;
}

.recipe__text {
  width: inherit;
  height: 125px;
  overflow-y: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #111127;
}

.recipe__text-indent {
  margin-bottom: 30px;
}

.calories {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #111127;
}

@media screen and (max-width: 1004px) {
  .recipe {
    width: 650px;
  }
  .recipe__content {
    width: 400px;
  }
}

@media screen and (max-width: 736px) {
  .recipe {
    width: 310px;
    height: 220px;
  }
  .recipe__image {
    width: 100px;
    height: 180px;
  }
  .recipe__content {
    width: 150px;
  }
  .recipe__link {
    font-size: 14px;
  }
  .recipe__text {
    height: 90px;
    font-size: 11px;
    line-height: 16px;
  }
  .recipe__text-indent {
    margin-bottom: 15px;
  }
  .calories {
    font-size: 12px;
    line-height: 16px;
  }
}
